# Data pre-processing for analysis, interntional homicide dataset

In [44]:
# import dependencies
import pandas as pd

# load the dataset
df = pd.read_csv('data/Homicidio_2017_2022.csv')
df.head()

,DEPARTAMENTO_CIRCUNSCRICAO,SECCIONAL_CIRCUNSCRICAO,MUNICIPIO_CIRCUNSCRICAO,DP_CIRCUNSCRICAO,HD,Nº DE VÍT HD,ID_DELEGACIA,MÊS ESTATISTICA,ANO ESTATISTICA,DATAHORA_REGISTRO_BO,...,NUMERO_LOGRADOURO,LATITUDE,LONGITUDE,TIPO_PESSOA,SEXO_PESSOA,IDADE_PESSOA,DATA_NASCIMENTO_PESSOA,COR_PELE,PROFISSAO,NATUREZA_APURADA
0,DECAP,1ª SEC,São Paulo,002 DP - Bom Retiro,1.0,1,10102,1,2017,1/21/2017,...,1.0,-23.535135,-46.633779,Vítima,Masculino,NaN,NaN,Parda,NaN,HOMICÍDIO DOLOSO
1,DECAP,1ª SEC,São Paulo,012 DP - Pari,1.0,1,10108,1,2017,1/24/2017,...,1379.0,-23.524742,-46.608382,Vítima,Masculino,NaN,NaN,Preta,NaN,HOMICÍDIO DOLOSO
2,DECAP,2ª SEC,São Paulo,035 DP - Jabaquara,1.0,1,10216,1,2017,1/15/2017,...,110.0,-23.652974,-46.649025,Vítima,Masculino,33.0,9/5/1983,Parda,DESEMPREGADO,HOMICÍDIO DOLOSO
3,DECAP,2ª SEC,São Paulo,097 DP - Americanópolis,1.0,1,10226,1,2017,1/1/2017,...,NaN,NaN,NaN,Vítima,Feminino,61.0,11/6/1955,Parda,APOSENTADO(A),HOMICÍDIO DOLOSO
4,DECAP,3ª SEC,São Paulo,034 DP - Vila Sonia,1.0,1,10356,1,2017,1/1/2017,...,NaN,NaN,NaN,Autor/Vitima,Masculino,19.0,1/21/1997,Parda,SEM PROFISSAO DEFINIDA,HOMICÍDIO DOLOSO

## Filter the main columns

In [45]:
# filter the dataset to only include the columns we need
df = df[['ANO ESTATISTICA', 'MUNICIPIO_CIRCUNSCRICAO', 'MÊS ESTATISTICA', 'Nº DE VÍT HD', 'DATA_FATO', 'HORA_FATO', 'LOGRADOURO', 'SEXO_PESSOA', 'IDADE_PESSOA', 'COR_PELE', 'PROFISSAO']]
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
0,2017,São Paulo,1,1,1/21/2017,5:15:00 PM,PRAÇA DA LUZ,Masculino,NaN,Parda,NaN
1,2017,São Paulo,1,1,1/24/2017,4:32:00 PM,RUA JOAQUIM CARLOS,Masculino,NaN,Preta,NaN
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA

## Remove duplicates

In [46]:
## remove duplicates
df = df.drop_duplicates()
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
0,2017,São Paulo,1,1,1/21/2017,5:15:00 PM,PRAÇA DA LUZ,Masculino,NaN,Parda,NaN
1,2017,São Paulo,1,1,1/24/2017,4:32:00 PM,RUA JOAQUIM CARLOS,Masculino,NaN,Preta,NaN
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA

## Remove rows with missing values

In [47]:
# remove rows with missing values
df = df.dropna()
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA
5,2017,São Paulo,1,1,1/1/2017,4:30:00 AM,RUA JOÃO DE BARRO,Masculino,28.0,Preta,CONFERENTE
6,2017,São Paulo,1,1,1/5/2017,10:40:00 AM,RODOVIA SP 348,Masculino,20.0,Preta,DESEMPREGADO

## Filter the data to only include the year 2017

In [48]:
df = df[df['ANO ESTATISTICA'] == 2017]
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA
5,2017,São Paulo,1,1,1/1/2017,4:30:00 AM,RUA JOÃO DE BARRO,Masculino,28.0,Preta,CONFERENTE
6,2017,São Paulo,1,1,1/5/2017,10:40:00 AM,RODOVIA SP 348,Masculino,20.0,Preta,DESEMPREGADO

## Data transformation converting the MUNICIPIO_CIRCUNSCRICAO column from object to string

In [49]:
# convert the MUNICIPIO_CIRCUNSCRICAO column from object to string
df['MUNICIPIO_CIRCUNSCRICAO'] = df['MUNICIPIO_CIRCUNSCRICAO'].astype(str)
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA
5,2017,São Paulo,1,1,1/1/2017,4:30:00 AM,RUA JOÃO DE BARRO,Masculino,28.0,Preta,CONFERENTE
6,2017,São Paulo,1,1,1/5/2017,10:40:00 AM,RODOVIA SP 348,Masculino,20.0,Preta,DESEMPREGADO

## Filter only the cities of São Paulo

In [50]:
# filter only the cities of São Paulo
df = df[df['MUNICIPIO_CIRCUNSCRICAO'].str.contains('São Paulo')]
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,São Paulo,1,1,1/15/2017,1:14:00 AM,TRAVESSA JUPATIS,Masculino,33.0,Parda,DESEMPREGADO
3,2017,São Paulo,1,1,1/1/2017,4:19:00 PM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Feminino,61.0,Parda,APOSENTADO(A)
4,2017,São Paulo,1,1,1/1/2017,12:37:00 AM,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,Masculino,19.0,Parda,SEM PROFISSAO DEFINIDA
5,2017,São Paulo,1,1,1/1/2017,4:30:00 AM,RUA JOÃO DE BARRO,Masculino,28.0,Preta,CONFERENTE
6,2017,São Paulo,1,1,1/5/2017,10:40:00 AM,RODOVIA SP 348,Masculino,20.0,Preta,DESEMPREGADO

## Convert the string to lowercase

In [51]:
# convert the string to lowercase and remove the accents
df['MUNICIPIO_CIRCUNSCRICAO'] = df['MUNICIPIO_CIRCUNSCRICAO'].str.lower()
df['LOGRADOURO'] = df['LOGRADOURO'].str.lower()
df['SEXO_PESSOA'] = df['SEXO_PESSOA'].str.lower()
df['COR_PELE'] = df['COR_PELE'].str.lower()
df['PROFISSAO'] = df['PROFISSAO'].str.lower()
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,são paulo,1,1,1/15/2017,1:14:00 AM,travessa jupatis,masculino,33.0,parda,desempregado
3,2017,são paulo,1,1,1/1/2017,4:19:00 PM,da vedação da divulgação dos dados relativos,feminino,61.0,parda,aposentado(a)
4,2017,são paulo,1,1,1/1/2017,12:37:00 AM,da vedação da divulgação dos dados relativos,masculino,19.0,parda,sem profissao definida
5,2017,são paulo,1,1,1/1/2017,4:30:00 AM,rua joão de barro,masculino,28.0,preta,conferente
6,2017,são paulo,1,1,1/5/2017,10:40:00 AM,rodovia sp 348,masculino,20.0,preta,desempregado

## Remove the accents

In [32]:
# remove the accents
df['MUNICIPIO_CIRCUNSCRICAO'] = df['MUNICIPIO_CIRCUNSCRICAO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['LOGRADOURO'] = df['LOGRADOURO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['SEXO_PESSOA'] = df['SEXO_PESSOA'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['COR_PELE'] = df['COR_PELE'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['PROFISSAO'] = df['PROFISSAO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,sao paulo,1,1,1/15/2017,1:14:00 AM,travessa jupatis,masculino,33.0,parda,desempregado
3,2017,sao paulo,1,1,1/1/2017,4:19:00 PM,da vedacao da divulgacao dos dados relativos,feminino,61.0,parda,aposentado(a)
4,2017,sao paulo,1,1,1/1/2017,12:37:00 AM,da vedacao da divulgacao dos dados relativos,masculino,19.0,parda,sem profissao definida
5,2017,sao paulo,1,1,1/1/2017,4:30:00 AM,rua joao de barro,masculino,28.0,preta,conferente
6,2017,sao paulo,1,1,1/5/2017,10:40:00 AM,rodovia sp 348,masculino,20.0,preta,desempregado

## Remove the special characters

In [52]:
# remove the special characters from the string example
df['PROFISSAO'] = df['PROFISSAO'].replace('\(.*\)', '', regex=True)
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,são paulo,1,1,1/15/2017,1:14:00 AM,travessa jupatis,masculino,33.0,parda,desempregado
3,2017,são paulo,1,1,1/1/2017,4:19:00 PM,da vedação da divulgação dos dados relativos,feminino,61.0,parda,aposentado
4,2017,são paulo,1,1,1/1/2017,12:37:00 AM,da vedação da divulgação dos dados relativos,masculino,19.0,parda,sem profissao definida
5,2017,são paulo,1,1,1/1/2017,4:30:00 AM,rua joão de barro,masculino,28.0,preta,conferente
6,2017,são paulo,1,1,1/5/2017,10:40:00 AM,rodovia sp 348,masculino,20.0,preta,desempregado

In [ ]:
## Remove white spaces from the string for the all columns

In [53]:
# remove white spaces from the string for the all columns
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df.head()

,ANO ESTATISTICA,MUNICIPIO_CIRCUNSCRICAO,MÊS ESTATISTICA,Nº DE VÍT HD,DATA_FATO,HORA_FATO,LOGRADOURO,SEXO_PESSOA,IDADE_PESSOA,COR_PELE,PROFISSAO
2,2017,são paulo,1,1,1/15/2017,1:14:00 AM,travessa jupatis,masculino,33.0,parda,desempregado
3,2017,são paulo,1,1,1/1/2017,4:19:00 PM,da vedação da divulgação dos dados relativos,feminino,61.0,parda,aposentado
4,2017,são paulo,1,1,1/1/2017,12:37:00 AM,da vedação da divulgação dos dados relativos,masculino,19.0,parda,sem profissao definida
5,2017,são paulo,1,1,1/1/2017,4:30:00 AM,rua joão de barro,masculino,28.0,preta,conferente
6,2017,são paulo,1,1,1/5/2017,10:40:00 AM,rodovia sp 348,masculino,20.0,preta,desempregado