# 5 - Dealing with categorical attributes

## *Features* nominal and ordinal

Library importation and initializes a DataFrame

In [2]:
import pandas as pd

df = pd.DataFrame([['verde', 'M', 10.1, 'classe2'],
                   ['vermelho', 'G', 13.5, 'classe1'],
                   ['azul', 'XG', 15.3, 'classe2']])

df.columns = ['cor', 'tamanho', 'preco', 'rotuloclasse']
df

        cor tamanho  preco rotuloclasse
0     verde       M   10.1      classe2
1  vermelho       G   13.5      classe1
2      azul      XG   15.3      classe2

## Mapping ordinal *features*

Is possible use the map function to apply a function to each element in the DataFrame and create a new column with the transforming values

In [3]:
size_mapping = {'XG': 3,
                'G': 2,
                'M': 1}

df['tamanho'] = df['tamanho'].map(size_mapping)
df

        cor  tamanho  preco rotuloclasse
0     verde        1   10.1      classe2
1  vermelho        2   13.5      classe1
2      azul        3   15.3      classe2

t

In this code is apply a map function to return to each line the original variable

In [4]:
inv_size_mapping = {v: k for k, v in size_mapping.items()}
df['tamanho'].map(inv_size_mapping)

0     M
1     G
2    XG
Name: tamanho, dtype: object

## Enconding class labels

With this code it is possible convert the labels string to integers

In [ ]:
import numpy as np

# Criando um dicionario para converter r√≥tulos de classe de strings para inteiros
class_mapping = {label: idx for idx, label in enumerate(np.unique(df['rotuloclasse']))}
class_mapping

{'classe1': 0, 'classe2': 1}

Again, you can apply the above function to create a new column to swap the string labels with the integers

In [ ]:
# to convert class labels from strings to integers
df['rotuloclasse'] = df['rotuloclasse'].map(class_mapping)
df

        cor  tamanho  preco  rotuloclasse
0     verde        1   10.1             1
1  vermelho        2   13.5             0
2      azul        3   15.3             1

Here again, it is returning the column to keep the original labels

In [ ]:
# reverse the class label mapping
inv_class_mapping = {v: k for k, v in class_mapping.items()}
df['rotuloclasse'] = df['rotuloclasse'].map(inv_class_mapping)
df

        cor  tamanho  preco rotuloclasse
0     verde        1   10.1      classe2
1  vermelho        2   13.5      classe1
2      azul        3   15.3      classe2